article{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    margin: 0 60px;
}
section h1{
    font-size: 50px;
    margin: 30px 60px;
}
article div.imagen img{
    max-width: 550px;
    height: auto;
    border-radius: 15px;
}
div.text{
    width: 40%;
    
}
article div.text p{
    text-align: justify;
    font-size: 30px;
}
