header{
    background: url('images/FotoPrincipal.png');
    text-align: center;
    height: 300px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header div.imagen img{
    display: inline-block;
    max-width: 300px;
    height: auto;
    margin-left: 50px;
}
header div.nav{
    font-size: 50px;
    margin-right: 50px;
    font-family: 'Times New Roman', Times, serif;
}
div.nav a{
    margin: 0 10px 0;
    border: 5px;
    border: 3px solid black;
    border-radius: 20px;
    padding: 0 15px 0;
    transition: all 0.3s ease;
}
div.nav a:link{
    text-decoration: none;
    color: black;
}
div.nav a:visited{
    color: black;
}
div.nav a:hover{
    color: white;
    background: black;
    border: 3px solid black;
}
footer{
    background: black;
    font-size: 40px;
    margin: 0 auto;
    align-self: flex-end;
    text-align: center;
    padding-bottom: 20px;
    border-radius: 10px;
    align-items: center;
}
footer div{
    padding-top: 20px;
}
footer a{
    color: white;
    text-decoration: none;
    transition: all 0.3s ease;
}
footer a:link{
    color: white;
    text-decoration: none;
}
footer a:hover{
    font-size: 50px;
}
footer a img{
    max-width: 40px;
    height: auto;
}